.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
.nav-link:hover,
.nav-active {
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: scale(1.1);
}
.nav-link .fa {
    font-size: 1.6rem;
}
.nav-link-tittle {
    font-size: 0.7rem;
}

@media screen and (max-width: 1250px) {
    .navbar {
        display: none;

    }
}