*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: #ffb43a;
  --hover-color: hsl(37,94%,57%);
  --body-color:#1e1e2a;
  --container-color:#2d2e37;
  --text-color: #fcfeff;
}


html::-webkit-scrollbar{
  width: 0.5rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: var(--main-color)
}
::selection{
  background: var(--main-color);
  color:var(--text-color)
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  width: 100%;
}
section{
  padding: 3rem 0 2rem;
}
.fa{
  cursor: pointer;
}
body{
  background-color: var( --body-color);
  color:var(--text-color) ;
} 

@media screen and (max-width:1060px){
  .container{
    margin: 0 auto;
    width: 95%;
  }
}
@media screen and (max-width:991px){
  .movie-box{
      height: 340px;
  }
  .movies-content{
      grid-template-columns: repeat(auto-fit,minmax(214px,1fr));
  }
}
@media screen and (max-width:888px){
  .nav{
      padding: 14px 0;
  }
  .home{
      min-height: 440px;
      margin-top: 4rem !important;
  }
  .home-text{
      padding-left: 25px;
  }
  .home-tittle{
      font-size: 1.6rem;
      font-weight: 600;
  }
  .watch-btn span{
      font-size: 0.9rem;
  }
  .movie-tittle{
      font-size: 1rem;
      padding-right: 30px;
  }
  .play-container{
      min-height: 440px;
      margin-top: 4rem !important;
  }
  .play-movie{
      bottom: 14rem;
      right: 4rem;
  }
  .cast{
      justify-content: center;
  }
}

/* for medium devices / tablet */

@media screen and (max-width:769px){
  .nav{
      padding: 11px 0;
  }
  .logo{
      font-size: 1.2rem;
  }
  .home-img{
      object-position: left;
  }
  section{
      padding: 2rem 0;
  }
  .movie-type{
      font-size: 0.875rem;
      margin-top: 2px;
  }
  .tags span,
  .about-movie p {
      font-size: 0.875rem;
  }
  p {
      font-size: 0.875rem;
  }
  .play-text h2,
  .about-movie h2{
      font-size: 1.3rem;
  }
  .play-movie{
      bottom: 10rem;
      right: 2rem;
  }
}

@media screen and (min-width:514px){
  .home{
      min-height: 380px;
  }
  .heading{
      padding: 2px 14px;
  }
  .heading-tittle{
      font-size: 1rem;
  }
  .play-text{
      padding: 20px;
  }
  .play-movie{
      bottom: 4rem;
  }
  .video-box{
      width: 94%;
  }
  .cast-heading{
      font-size: 1.1rem;
  }
  .cast.tittle{
      font-size: 0.9rem;
  }
}

@media screen and (max-width:480px){
  *{
      scroll-padding-top: 5rem;
  }
  .nav{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 5px;
  }
  .search-box{
      max-width: 100%;
      width: 100%;
      border-radius: 4px;
      order:3;
      grid-column-start: 1;
      grid-column-end: 3;
  }
  .home,
  .play-container{
      margin-top: 7rem !important;
  }
  .movie-box{
      height: 300px;
  }
  .movies-content{
      grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
      gap: 1rem;
  }
}
